
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}


#taskTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#taskTable th,
#taskTable td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#taskTable th {
    background-color: #007BFF;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}


.filters {
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters label {
    margin-right: 10px;
}

#taskTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#taskTable th, #taskTable td {
    padding: 10px;
    text-align: center;
}

#taskTable th {
    background-color: #007BFF;
    color: #fff;
}

#taskTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#taskTable tr:hover {
    background-color: #e0e0e0;
}

#pagination {
    text-align: center;
    margin-top: 10px;
}


.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}
